<a href="https://colab.research.google.com/github/sielerod/Heart_Failure/blob/master/heart_failure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predição de Falhas no Coração

Fonte:
https://www.kaggle.com/andrewmvd/heart-failure-clinical-data/notebooks

In [1]:
import pandas as pd

In [9]:
url = 'https://raw.githubusercontent.com/sielerod/Heart_Failure/master/Data/heart_failure_clinical_records_dataset.csv'
heart_failure = pd.read_csv(url)
heart_failure.head(3)

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1

[3 rows x 13 columns]

## Exploração de dados

In [ ]:
https://www.kaggle.com/isaienkov/data-visualization